/* rgb(104, 212, 255) */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body {
  background-color: white;
  font-size: 18px; /* Increased base font size */
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%; /* Adjusted maximum width */
  margin: 0 auto;
  border-bottom: 1px solid #c1c1c1;
}
.navbar h1 {
  color: #820096;
  font-size: 24px; /* Increased font size */
}
.navbar .links {
  margin-left: auto;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.navbar a {
  margin-left: 20px; /* Adjusted margin */
  text-decoration: none;
  padding: 10px; /* Increased padding */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 20px; /* Increased font size */
}

.navbar a:hover {
  color: #820096;
}

button {
  margin-left: 20px; /* Adjusted margin */
  font-size: 20px; /* Increased font size */
  border: none;
  background: none;
}

button:hover {
  color: #820096;
}
/* ======================== */

.content {
  max-width: 80%; /* Adjusted maximum width */
  margin: 40px auto;
  padding: 20px;
}
.content h2 {
  color: #820096;
  font-size: 24px; /* Increased font size */
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #c1c1c1;
  max-height: 150px;
  overflow: hidden;
  transition: height 1s ease-out;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  max-height: none;
}
.blog-preview h2 {
  font-size: 24px; /* Increased font size */
  color: #820096;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/* =========== */
/* blog details page */

.blog-details {
  padding: 10px 16px;
}
.blog-details h2 {
  font-size: 24px; /* Increased font size */
  color: #820096;
  margin-bottom: 10px;
}
.blog-details p {
  margin: 4px 0;
}
.blog-details button {
  background: #820096;
  color: #fff;
  border: 0;
  padding: 12px; /* Increased padding */
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px; /* Increased font size */
}

.skill {
  margin: 20px 0px;
  padding-left: 2px solid #820096;
}

.blog-details ul {
  list-style-type: none;
}