/* rgb(104, 212, 255) */

html,body
{
    font-family: 'Crimson Text';
    width:auto;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(154, 223, 255);
}

* {
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 2px solid black;
    width: 100%;
    position: fixed;
    z-index: 2;
    text-align: center;
    /* background-color: black;   */
    background-image: linear-gradient(to right,white, rgb(154, 223, 255),rgb(154, 223, 255) ,rgb(255, 255, 255));
    padding: 15px;
}
/* yellow rgb(255, 253, 126) */
.cloud1{
    position: absolute;
    width: 5em;
    top:0;
    left:0;
    z-index: -1;
    animation: cloudMove 45s linear infinite;
}
.cloud2{
    display: inline;
    position: absolute;
    opacity: 60%;
    width: 4.5em;
    top:20px;
    left:50px;
    z-index: -3;
    animation: cloudMove 50s linear infinite;
}

header h1{
    z-index: 3;
    font-family: 'Crimson Text';
    font-size: 1.5em;
    padding: 5px;
    
    text-decoration-color: black;
    letter-spacing: 3px;
}

.topLeft{
    background-color: rgb(0, 0, 0);
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
    letter-spacing: 5px;

}

.topLeft img{
    width: 33.33333%;
    display: inline-block;
    position: static;
    animation: scroll 60s infinite linear; 
}

nav{
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
    border-top: 2px solid black;
    z-index: 1;
    background-color: rgb(154, 223, 255); 
    padding: 6px;
    /* border-bottom: 2px solid black; */
}

nav ul li{
    position: relative;
    font-family: 'Crimson Text';
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 12px;
    padding-left: 13%;
    padding-right: 13%;
    color: rgb(154, 223, 255); 
    background-color: rgb(4, 50, 77);
}

nav ul li:hover{
    background-color:  rgb(81, 134, 179);
}

.container{
    background-color: rgb(154, 223, 255); 
    padding: 10px;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}

.container2{
    background-color: rgb(154, 223, 255); 
    padding: 10px;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}

.container3{
    background-color: rgb(154, 223, 255); 
    padding: 10px;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}

.freeSpace{
    height: 5px;
}

.image{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 360px;
    margin: 5px;
}

.image img{
    display: inline-block;
    width: 100%;
}
.text{
    padding: 6px;
    margin: 15px;
    vertical-align: top;
    width: 60%;
    display: inline-block;
    height: fit-content;
}

.mainContent{
    border: 4px solid black;
    background-color: white;
    padding: 25px;
}
.mainContent h2{
    text-align: center;
    font-size: 4.7em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.mainContent p{
    text-indent: 10%;
}
.mainContent h4{
    text-align: center;
}

h2{
    font-family: 'Crimson Text';
    white-space: initial; 
}
p{
    font-family: 'Crimson Text';
    white-space: initial;
}

ul{
    list-style-type: none;
}
footer{
    color: black;
    position: absloute;
    height: 100px;
    border-top: 3px solid black;
    font-family: 'Press Start 2P';
    font-size: 0.5em;
    float: bottom;
    width: 100%;
    z-index: 1;
    text-align: center;
    background-image: linear-gradient(to right,white, rgb(154, 223, 255),rgb(154, 223, 255) ,rgb(255, 255, 255));
}

footer p{
    font-size: 2em;
    line-height: 100px;
}

.cloud3{
    position: absolute;
    width: 11em;
    top:0;
    left:-50px;
    z-index: -1;
    animation: cloudMove 35s 15s linear infinite;
}
.cloud4{
    display: inline;
    position: absolute;
    opacity: 60%;
    width: 10em;
    top:20px;
    left:-50px;
    z-index: -3;
    animation: cloudMove 45s 6s linear infinite;
}

@keyframes swish{
    0%{transform: translateY(-100px)}
    70%{transform: translateY(5px)}
    100%{transform: translateY(0px)}
}

@keyframes fadeIn{
    0%{opacity: 0%}
    100%{opacity: 100%;}
}

@keyframes scroll{
    0%{transform: translateX(-400vw)}
    100%{transform: translateX(10%)}
}

@keyframes spin{
    0%{transform: rotateY(0)}
    100%{transform: rotateY(360deg)}
}

@keyframes cloudMove{
    from{transform: translateX(-10vw)}
    to{transform: translateX(100vw)}
}

@media screen and (max-width: 1000px) {
    nav ul li{
        padding-left: 12%;
        padding-right: 12%;
    }
    
}

@media screen and (max-width: 700px) {
    nav ul li{
        padding-left: 9%;
        padding-right: 9%;
    }
    
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    header h1{
        font-size: 3.5em;
    }
    header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .topLeft{
        position:relative;
    }
    nav{
        padding: 20px;
    }
    nav ul li{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 12%;
        padding-right: 12%;
        margin: 10px;
    }
    .topLeft img{
        width: 99.99%;
        display: inline-block;
        position: static;
        animation: scroll 30s infinite linear; 
    }

    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.3em;
    }
    .image{
        width: 40%;
        display: inline-block;
        border: 1px solid black;
        border-radius: 360px;
        margin: 5px;
    }
    .text{
        width: 500px;
        font-size: 1.7em;
    }
    footer{
        position: absolute;
        font-size: 0.75em;
        bottom: 0px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    header h1{
        font-size: 3.5em;
    }
    header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .topLeft{
        position:relative;
    }
    nav{
        padding: 20px;
    }
    nav ul li{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 12%;
        padding-right: 12%;
        margin: 10px;
    }
    .topLeft img{
        width: 99.99%;
        display: inline-block;
        position: static;
        animation: scroll 30s infinite linear; 
    }

    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.3em;
    }
    .image{
        width: 40%;
        display: inline-block;
        border: 1px solid black;
        border-radius: 360px;
        margin: 5px;
    }
    .text{
        width: 500px;
        font-size: 1.7em;
    }
    footer{
        position: absolute;
        font-size: 0.75em;
        bottom: 0px;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    header h1{
        font-size: 3.5em;
    }
    header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .topLeft{
        position:relative;
    }
    nav{
        padding: 20px;
    }
    nav ul li{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 12%;
        padding-right: 12%;
        margin: 10px;
    }
    .topLeft img{
        width: 99.99%;
        display: inline-block;
        position: static;
        animation: scroll 30s infinite linear; 
    }

    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.3em;
    }
    .image{
        width: 40%;
        display: inline-block;
        border: 1px solid black;
        border-radius: 360px;
        margin: 5px;
    }
    .text{
        width: 500px;
        font-size: 1.7em;
    }
    footer{
        position: absolute;
        font-size: 0.75em;
        bottom: 0px;
    }

}
/* ----------- iPhone X  and 12 pro ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    header h1{
        font-size: 3.5em;
    }
    header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .topLeft{
        position:relative;
    }
    nav{
        padding: 20px;
    }
    nav ul li{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 12%;
        padding-right: 12%;
        margin: 10px;
    }
    .topLeft img{
        width: 99.99%;
        display: inline-block;
        position: static;
        animation: scroll 30s infinite linear; 
    }
    .image{
        width: 40%;
        display: inline-block;
        border: 1px solid black;
        border-radius: 360px;
        margin: 5px;
    }
    .text{
        width: 500px;
        font-size: 1.7em;
    }

    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.3em;
    }
    footer{
        position: absolute;
        font-size: 0.75em;
        bottom: 0px;
    }

}
